
DIRECTUS_URL=https://admin.ducatiparts.ru
DIRECTUS_TOKEN=Tz8y0q1MRhPHosxtZ3orDPZSCqrCxnKA
DIRECTUS_PRODUCTS_COLLECTION=products
DIRECTUS_ORDERS_COLLECTION=orders


NEXT_PUBLIC_PRODUCT_PRICE_CURRENCY=EUR
NEXT_PUBLIC_EUR_TO_RUB_RATE=100

GEMINI_API_KEY="MY_GEMINI_API_KEY"


APP_URL="MY_APP_URL"
