
DIRECTUS_URL=http://91.92.43.31:8055
DIRECTUS_TOKEN=tFJXFt7VCr4jKLIZ4b-nGMUOpBqdWBEa
DIRECTUS_PRODUCTS_COLLECTION=products
DIRECTUS_ORDERS_COLLECTION=orders


NEXT_PUBLIC_PRODUCT_PRICE_CURRENCY=EUR
NEXT_PUBLIC_EUR_TO_RUB_RATE=100

GEMINI_API_KEY="MY_GEMINI_API_KEY"


APP_URL="MY_APP_URL"
